.dashboard {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #f9f9f9;
}

/* Side Navigation */
.side-navbar {
  background-color: #ffffff;
  flex: 1.8;
  min-width: 200px;
  max-width: 300px;
  border-right: 2px solid #e0e0e0;
  padding: 20px;
  box-sizing: border-box;
}

/* Main Page Content */
.main-page {
  flex: 8.2;
  display: flex;
  flex-direction: column;
}

/* Header of the Main Page */
.main-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #fff;
  border-bottom: 2px solid #e0e0e0;
}

/* Header Left Side */
.header-left {
  text-align: left;
}

/* Heading Text */
.heading {
  font-size: 26px;
  font-weight: bold;
  color: #333333;
  margin: 0;
  text-align: left;
}

/* Add Button */
.btn-add {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  background-color: #2463eb;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-add:hover {
  background-color: #1e4fcc;
}

.btn-add-symbol {
  font-size: 18px;
}

/* card section */
.card-section {
  display: flex;
}

.sub-heading {
  margin-top: 5px;
}
